
@{
    ViewData["Title"] = "Index";
}


<div class="col align-self-center vh-100 w-100">
    <div class="row justify-content-around">
        <a asp-action="Index" asp-controller="Wycieczka"> <img src="~/uploads/wycieczki.png" class="img-fluid"></a>
    </div>
    <div class="row top-buffer justify-content-around">
        <a href="#"> <img src="~/uploads/odznaki.png" class="img-fluid"></a>
    </div>
</div>
